<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjAfonsoProd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjAfonsoProd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjAfonsoProd</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reunioes" asp-action="Index">Reuniões</a>
                        </li>
                                                @* DropDown Menu*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Exercicios
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C1_ListarContarReunioesClienteFunc" asp-action="Index">1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C2_ListarReunioesClienteSumMinutos" asp-action="Index">2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C3_ContarReunioesClienteAcimaXMinutos" asp-action="Index">3</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C4_InserirFuncionario" asp-action="Index">Funcionários</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C5_Registar" asp-action="Index">Registar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item text-black" asp-area="" asp-controller="C5_Login" asp-action="Index">Login</a>
                                </li>
                            </ul>
                        </li>
                        <li class ="nav-item">
                            <a class="nav-link text-dark">
                                @{
                                    if (Context.Session.GetString("UTILIZADOR") == "" || Context.Session.GetString("UTILIZADOR") == null)
                                    {
                                        string s = "Não Logado";
                                        @s
                                    }
                                    else
                                    {
                                        string s = "Logado com:" + Context.Session.GetString("UTILIZADOR");
                                        @s
                                    }
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="C5_LogOut" asp-action="Index">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProjAfonsoProd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
