<h1>Escreva um Ano a Procurar</h1>
@using (Html.BeginForm("Index", "FiltroVeiculo", FormMethod.Post))
{
    <div class="form-group">
        <label for="txtFiltro">FILTRO:</label>
        @Html.TextBox("txtFiltro")
    </div>
    @if (ViewBag.Veiculos != null && ViewBag.Veiculos.ToString() != "vazio")
    {
        <table class="table table-striped table-borderless table-dark">
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Ano</th>
            </tr>
            @foreach (Veiculo v in ViewBag.Veiculos)
            {
                <tr>
                    <td>@v.Matricula</td>
                    <td>@v.Marca</td>
                    <td>@v.Ano</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Não Existe Veiculos</p>
    }
        <br />
    <button type="submit" class="btn btn-primary">Buscar</button>
}