@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="h1 text-black">Lista de Jogadores:</h1>
<table class="table table-dark">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>ID Equipa</th>
    </tr>
    @foreach (Membro item in ViewBag.MEMBROS)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.NomeMembro</td>
            <td>@item.EquipaId</td>
        </tr>
    }
</table>
