@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
    <div id="homediv">
        <h1 id="nameh1">CLIX</h1>
    </div>
</body>
</html>
