@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="h1 text-black">Equipas Ordenadas Descendente:</h1>
@if (ViewBag.EQUIPASDESCENDENTE != null)
{
    <ul>
    @foreach (Equipa item in ViewBag.EQUIPASDESCENDENTE)
    {
            <li class="list-group-item list-group-item-dark">@item.NomeEquipa</li>
        }
    </ul>
}
else
{
    <ul>
        <li class="list-group-item list-group-item-dark">Não Existe Membros nesta Equipa</li>
    </ul>
}
