@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="btn- btn-danger">Vermelho</p>
    <p class="btn- btn-success">Verde</p>
    <p class="btn- btn-primary">Azul</p>
    <p class="btn- btn-warning">Amarelo</p>
    <p class="btn- btn-info">Azul Claro</p>
    <p class="btn- btn-secondary">Cinza</p>
    <p class="btn- btn-dark">Preto</p>
    <p class="btn- btn-light">Branco</p>
    <p class="btn- btn-link">Link</p>
    <p class="btn- btn-outline-danger">Vermelho</p>
 </div>
    <table class="table table-striped">
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
    </table>

        <a href="https://google.com" class="btn btn-outline-secondary">Aceder ao GOOGLE</a>

    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <ol>
        <li>Porto - 5</li>
        <li>Benfas - 0</li>
        <li>Braga</li>
    </ol>

