@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Selecione um Cliente</title>
    <style>

        h1 {
            color: black;
            text-align: center;
            margin-top: 50px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        label {
            font-weight: bold;
            margin-bottom: 10px;
        }

        select {
            padding: 5px;
            width: 200px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1>Selecione um Cliente</h1>
    @using (Html.BeginForm("Index", "CD1", FormMethod.Post))
    {
        @Html.DropDownList("cbxClientes" ,(SelectList)ViewBag.LISTACLIENTES,"Escolha um Cliente...",
        @htmlAttributes: new {@onchange="this.form.submit();"})
 
        <br />
        @if (ViewBag.CONTACTOS != null && ViewBag.CONTACTOS.ToString() != "vazio")
        {
            <table class="table table-striped table-borderless table-dark">
                <tr>
                    <th>Item 1</th>
                    <th>Item 2</th>
                    <th>Texto</th>
                </tr>
                @foreach (Item item in ViewBag.CONTACTOS)
                {
                    <tr>
                        <td>@item.Item1</td>
                        <td>@item.Item2</td>
                        <td>@item.Texto</td>
                    </tr>
                }
            </table>
        }
        else
        {   
            <p>Não Existe Contactos</p>
        }
    }
</body>
</html>