@model ExCliX.Models.Tipo

@{
    ViewData["Title"] = "Create";
}

<h1 class="h1 text-black">Create</h1>
<h4 class="h4 text-white-50">Tipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Designacao" class="control-label text-white">Designação:</label>
                <input asp-for="Designacao" class="form-control" />
                <span asp-validation-for="Designacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
