@model ExCliX.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1 class="h1 text-black">Create</h1>
<h4 class="h4 text-white-50">Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item1" class="control-label text-white">Item 1:</label>
                <input asp-for="Item1" class="form-control" />
                <span asp-validation-for="Item1" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Item2" class="control-label text-white">Item 2:</label>
                <input asp-for="Item2" class="form-control" />
                <span asp-validation-for="Item2" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Texto" class="control-label text-white">Item 3:</label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TipoId" class="control-label text-white">Tipo:</label>
                <input asp-for="TipoId" class="form-control" />
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label text-white">Cliente:</label>
                <input asp-for="ClienteId" class="form-control" />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
