@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("Index", "C7_DropMembrosPorEquipa", FormMethod.Post))
{
    <h1 class="h1 text-black">Equipas:</h1>
    @Html.DropDownList("comboE", (SelectList)ViewBag.EQUIPAS, "Selecione Equipa")
    <br />
    <br />
    @if (ViewBag.MEMBROS != null && ViewBag.MEMBROS.ToString() != "vazio")
    {
        @foreach (Membro item in ViewBag.MEMBROS)
        {
           <ul class="list-group">
                <li class="list-group-item list-group-item-dark">@item.NomeMembro</li>
           </ul>   
        }
    }
    else
    {
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Não Existe Membros nesta Equipa</li>
        </ul>
    }

    <input class="btn btn-primary" type="submit" value="Submit" />
}

