<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CHAMPIONS LEAGUE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquipasMembros.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E&M</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Equipas" asp-action="Index">Equipas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Membros" asp-action="Index">Membros</a>
                        </li>
                                                                @* DropDown Menu *@
                        <li class="dropdown">
                            <button type="button"
                                class="btn btn-group-sm dropdown-toggle text-dark"
                                    data-bs-toggle="dropdown">
                                Exercicios
                            </button>
                            <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C1_ListarEquipas" asp-action="Index">1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C2_ComboEquipaMembro" asp-action="Index">2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C3_MembrosTabela" asp-action="Index">3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C4_DropsEquipasMembros" asp-action="Index">4</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C5_MembrosPorEquipa" asp-action="Index">5</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C6_EquipaPorMembros" asp-action="Index">6</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C7_DropMembrosPorEquipa" asp-action="Index">7</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C8_ContarEquipas" asp-action="Index">8</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C9_ContarMembros" asp-action="Index">9</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C10_ListarMembrosOrdemAlfabetica" asp-action="Index">10</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C11_ContarMembrosEquipaUm" asp-action="Index">11</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C12_ListarEquipasOrdemDescendente" asp-action="Index">12</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C13_QualEquipaN5" asp-action="Index">13</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C14_QualEquipaN88" asp-action="Index">14</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C15_QualPrimeiraEquipa" asp-action="Index">15</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C16_ExisteEquipaArsenal" asp-action="Index">16</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C17_ContagemMembrosEquipa4" asp-action="Index">17</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C18_ContagemMembrosLeoes" asp-action="Index">18</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C19_ContagemMembrosArcenalDaDebeza" asp-action="Index">19</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C20_QualIdMaisAltoMembro" asp-action="Index">20</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C21_QualIdMaisBaixoEquipa" asp-action="Index">21</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C22_SomarColunaIdEquipas" asp-action="Index">22</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C23_SomarColunaIdEquipasFalcoesPicoto" asp-action="Index">23</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C24_SomarColunaIdMembrosFalcoesPicoto" asp-action="Index">24</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C25_QuantasEquipasMembroAbel" asp-action="Index">25</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C26_QuantosMembrosEquipaMaxiFalcoes" asp-action="Index">26</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C27_ListaOrdenadaMembrosMaxiFalcoes" asp-action="Index">27</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C28_MostrarIdNomeMembrosMaxi" asp-action="Index">28</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="C29_MostarEquipasMembrosLado" asp-action="Index">29</a> @* feito *@
                            </li>
                        </ul>
                        </li>
                        
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EquipasMembros - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
