    @{
        
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/css/Home.css" rel="stylesheet" />
    </head>
    <body>
        <div id="homediv">
            <h1 class="display-4">Equipas Membros</h1>
            <img src="~/images/transferir (1).png" alt="Champions League Logo" />
        </div>
    </body>
    </html>