@model EquipasMembros.Models.Membro

@{
    ViewData["Title"] = "Details";
}
<h1 class="h1 text-black">Details</h1>

<div>
    <h4 class="h4 text-black-50">Membro</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Nome Membro:</text>
        
        
            @Html.DisplayFor(model => model.NomeMembro)
        </li>
        <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Equipa:</text>
        
        
            @Html.DisplayFor(model => model.Equipa.Id)
        </li>
    </ul>
</div>
<div>
    <a class="link-light" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="link-light" asp-action="Index">Back to List</a>
</div>
