@model EquipasMembros.Models.Equipa

@{
    ViewData["Title"] = "Delete";
}
<style>
    mark {
        background-color: blue;
        color: white;
    }
</style>
<h1 class="h1 text-black">Delete</h1>

<h3 class="h3 text-black-50">Tem a certeza que quer apagar esta</h3>
<div>
    <h4 class="h4 text-black-50">Equipa?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-black">
            Nome Equipa:
        </dt>
        <dd class="col-sm-2">
            <mark>@Html.DisplayFor(model => model.NomeEquipa)</mark>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="link-light" asp-action="Index">Back to List</a>
    </form>
</div>
