@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    mark {
        background-color: blue;
        color: white;
    }
</style>
<h1 class="h1 text-black">Lista de Equipas e Jogadores:</h1>
<br />
@foreach (Equipa item1 in ViewBag.EQUIPAS)
{
    <mark>@item1.NomeEquipa</mark> @:&rarr;
    @foreach (Membro item2 in ViewBag.MEMBROS)
    {
        if (item2.EquipaId == item1.Id)
        {
            @:&bull;   <mark>@item2.NomeMembro</mark>
        }
    }
    <br />
}


