
@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        text-shadow: 2px 2px 5px white;
    }
</style>
<h1 class="h1 text-black">CLIENTES</h1>
<p>
    <a class="link-info" asp-action="Criar">Create New</a>
</p>
