@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    mark {
        background-color: blue;
        color: white;
    }
</style>
<h1 class="h1 text-black">Lista de Jogadores e Equipas:</h1>
@foreach (Membro item in ViewBag.MEMBROS)
{
    <mark>@item.NomeMembro</mark> @:&rarr;
    @foreach (Equipa item2 in ViewBag.EQUIPAS){
        if (item2.Id == item.EquipaId){
            <mark>@item2.NomeEquipa</mark>
        }
    }
    <br />
}   