@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Equipa N5</h1>
@if(ViewBag.EQUIPA != null)
{
    <p>@ViewBag.EQUIPA</p>
}
else
{
    <p>Equipa nao Existe</p>
}
