@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p class="display-1" style="color:aqua">Lista de Equipas:</p>

@Html.DropDownList("comboE", (SelectList)ViewBag.EQUIPAS)
<br />
<p class="display-1" style="color: aqua">Lista de Jogadores:</p>
@Html.DropDownList("comboM", (SelectList)ViewBag.MEMBROS)
