@model ExCliX.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="h1 text-black">Details</h1>

<div>
    <h4 class="h4 text-white-50">Cliente</h4>
    <hr />
    <ul class="list-group">
       <li class="list-group-item list-group-item-dark">
            <text class="fw-bold">Nome:</text>
        
        
            @Html.DisplayFor(model => model.Nome)
       </li>
        <li class ="list-group-item list-group-item-dark">
            <text class="fw-bold">Referência:</text>
        
        
            @Html.DisplayFor(model => model.Referencia)
        </li>
    </ul>
</div>
<div>
    <a class="link-info" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="link-info" asp-action="Index">Back to List</a>
</div>
